In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../data/housing.csv')

### Missing Values

In [5]:
df.isna().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [6]:
df.shape

(20645, 10)

#### Mediana, Média, Moda

In [8]:
df["total_bedrooms"].median()

435.0

In [9]:
df["total_bedrooms"].mean()

537.8674038555631

In [10]:
df["total_bedrooms"].mode()

0    280.0
Name: total_bedrooms, dtype: float64

In [3]:
mean = df["total_bedrooms"].mean()

In [4]:
df["total_bedrooms"] = df["total_bedrooms"].fillna(mean)

In [5]:
df.isna().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

#### Outras estratégias

In [27]:
df = pd.read_csv('../data/housing.csv')

In [32]:
df[df['total_bedrooms'].isna()]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
290,-122.16,37.77,47.0,1256.0,NaN,570.0,218.0,4.3750,161900.0,NEAR BAY
341,-122.17,37.75,38.0,992.0,NaN,732.0,259.0,1.6196,85100.0,NEAR BAY
538,-122.28,37.78,29.0,5154.0,NaN,3741.0,1273.0,2.5762,173400.0,NEAR BAY
563,-122.24,37.75,45.0,891.0,NaN,384.0,146.0,4.9489,247100.0,NEAR BAY
696,-122.10,37.69,41.0,746.0,NaN,387.0,161.0,3.9063,178400.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20272,-119.19,34.20,18.0,3620.0,NaN,3171.0,779.0,3.3409,220500.0,NEAR OCEAN
20273,-119.18,34.19,19.0,2393.0,NaN,1938.0,762.0,1.6953,167400.0,NEAR OCEAN
20377,-118.88,34.17,15.0,4260.0,NaN,1701.0,669.0,5.1033,410700.0,<1H OCEAN
20465,-118.75,34.29,17.0,5512.0,NaN,2734.0,814.0,6.6073,258100.0,<1H OCEAN
20489,-118.72,34.28,17.0,3051.0,NaN,1705.0,495.0,5.7376,218600.0,<1H OCEAN

#### Dados duplicados

In [40]:
df = pd.read_csv('../data/housing.csv')

In [27]:
df[df.duplicated(keep=False)]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
2931,-119.00,35.35,35.0,1164.0,277.0,992.0,284.0,1.4015,48700.0,inland
2932,-119.00,35.35,35.0,1164.0,277.0,992.0,284.0,1.4015,48700.0,inland
5109,-118.31,33.96,43.0,2118.0,569.0,1266.0,500.0,1.7470,121000.0,<1H OCEAN
5110,-118.31,33.96,43.0,2118.0,569.0,1266.0,500.0,1.7470,121000.0,<1H OCEAN
5111,-118.31,33.96,43.0,2118.0,569.0,1266.0,500.0,1.7470,121000.0,<1H OCEAN
7153,-118.15,34.02,43.0,2172.0,605.0,2386.0,597.0,2.8239,150600.0,<1H OCEAN
7154,-118.15,34.02,43.0,2172.0,605.0,2386.0,597.0,2.8239,150600.0,<1H OCEAN
7155,-118.15,34.02,43.0,2172.0,605.0,2386.0,597.0,2.8239,150600.0,<1H OCEAN

In [6]:
df = df.drop_duplicates()

In [7]:
df[df.duplicated(keep=False)]

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value, ocean_proximity]
Index: []

#### Erros de Entrada

In [59]:
df = pd.read_csv('../data/housing.csv')

In [60]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20640,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20641,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20642,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7,92300.0,INLAND
20643,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20644,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [63]:
df.ocean_proximity.unique()

array(['NEAR BAY', 'NEARBAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN',
       'inland', 'ISLAND'], dtype=object)

In [8]:
df.ocean_proximity = df.ocean_proximity.replace({'NEARBAY':'NEAR BAY', 'inland':'INLAND'})

In [9]:
df.ocean_proximity.unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [10]:
df.median_income.iloc[0]

'8.3252'

In [11]:
df.median_income.astype(float)

ValueError: could not convert string to float: '4.0368x'

In [12]:
df.median_income = df.median_income.replace({'4.0368x': '4.0368'})

In [13]:
df.median_income = df.median_income.astype(float)

In [14]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20640,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20641,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20642,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20643,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20644,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [15]:
df.to_csv('clean_housing.csv', index=False)